src/main/mule/practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d9293720-2e6b-4e8e-86fa-9073b862581c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="details" />
	</db:config>
	<flow name="practiceFlow" doc:id="b7f91ad5-8b23-4b26-9c2e-353465d64d29" >
		<scheduler doc:name="Scheduler" doc:id="dd20a42d-fb89-41da-afd2-de5f60558a67" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="scheduler is triggered" doc:id="84b50e61-1911-4153-8452-c561a1728502" message='#["scheduler is triggered"]'/>
		<ee:transform doc:name="Transform Message" doc:id="848086e3-e38d-46f6-b8f6-45233bb415ec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"Select count(*) from users"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="call db" doc:id="1b462ab0-b8de-4d6c-8ab5-48ea6f6c6b2b" name="dataBase" />
		<set-variable value="#[1 as Number]" doc:name="initilize limit" doc:id="05966106-d3e1-462c-8e42-b7fd7c478618" variableName="limit"/>
		<set-variable value="#[0 as Number]" doc:name="initilize offset" doc:id="6e92eac3-3889-442b-9391-bced33aeea88" variableName="offset"/>
		<ee:transform doc:name="divide into array based on limit size" doc:id="9ff8ff08-a1b2-45cd-9378-8407587c8172" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var rowcount = payload."COUNT(*)" reduce ($$ ++ $) as Number
var maxSize = ceil(rowcount/vars.limit)
fun prepareList(list:Array, maxSize: Number) = if(sizeOf(list) >= maxSize )
list
else
prepareList(list ++ [(sizeOf(list) + 1) as Number],maxSize)
---
prepareList([],maxSize) as Array]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="aeca38c3-19ba-46d3-934f-fe0242f179ad" >
			<db:select doc:name="Select" doc:id="e1d5f73f-3875-479b-b9bc-fc352787409d" config-ref="Database_Config">
				<db:sql ><![CDATA[select * from users LIMIT :limit OFFSET :offset]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	'limit': vars.limit,
	'offset': vars.offset
}]]]></db:input-parameters>
			</db:select>
			<set-variable value="#[vars.offset + vars.limit]" doc:name="Set Variable" doc:id="dde76ec3-868f-450a-9062-f03ebdf56c4f" variableName="increase"/>
		</foreach>
	</flow>
	<sub-flow name="dataBase" doc:id="8efa7771-8934-46cb-a488-1e15ccf4b839" >
		<db:select doc:name="Select" doc:id="3e453051-efc0-4a1e-9369-e105f47d42dd" config-ref="Database_Config">
			<db:sql><![CDATA[#[payload]]]></db:sql>
		</db:select>
	</sub-flow>
</mule>
